<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US">
<!--<![endif]-->

<head>
        <!-- META TAGS -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>C Programming Discussion</title>

        <link rel="shortcut icon" href="images/favicon.png" />




        <!-- Style Sheet-->

        <link rel='stylesheet' id='bootstrap-css-css' href='css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' id='responsive-css-css' href='css/responsive5152.css?ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' id='pretty-photo-css-css' href='js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all'
        />
        <link rel='stylesheet' id='main-css-css' href='css/main5152.css?ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' id='custom-css-css' href='css/custom5152.html?ver=1.0' type='text/css' media='all' />
        <!--chart js-->
        <script type="text/javascript" src="vis/dist/vis.js"></script>
        <link href="vis/dist/vis-network.min.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="vis-try1.js"></script>
        <!--the discription style-->

        <link rel='stylesheet' id='bootstrap-css-css' href='/javascripts/theme.css' type='text/css' media='all' />
        <script type="text/javascript" src="/javascripts/syntaxhighlighter.js" />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
                <script src="js/html5.js"></script></script>
                <![endif]-->
        <style type="text/css">
                #mynetwork {
                        width: 700px;
                        height: 400px;
                        border: 1px solid lightgray;
                }
        </style>
</head>

<body onload="draw();">

        <!-- Start of Header -->
        <div class="header-wrapper">
                <header>
                        <div class="container">
                                <div class="logo-container">
                                        <!-- Website Logo -->
                                        <a href="/" title="C-Discussion">
                                                        <img src="images/logo.png" alt="logo">
                                                </a>
                                        <span class="tag-line">C Programming Discussion</span>
                                </div>
                                <!-- Start of Main Navigation -->
                                <nav class="main-nav">
                                        <div class="menu-top-menu-container" id="cssmenu">
                                                <ul id="headerrul1" class="clearfix" style="text-align:right;">
                                                        <li><a href="/">Home</a></li>
                                                        <li><a href="articles-list">Articles List</a></li>
                                                        <li><a href="contact">Contact</a></li>
                                                </ul>
                                                <ul id="headerul2">
                                                        <li id='login'><a href="login"> LOG IN</a></li>
                                                        <li id='reg'><a href="reg">Register</a></li>
                                                </ul>
                                        </div>
                                </nav>
                                <!-- End of Main Navigation -->
                        </div>
                </header>
        </div>
        <!-- End of Header -->

        <!-- Start of Search Wrapper -->
        <!-- End of Search Wrapper -->

        <!-- Start of Page Container -->
        <div class="page-container">
                <div class="container">
                        <div class="row">

                                <!-- start of page content -->
                                <!-- start of sidebar -->
                                <aside class="span3 page-sidebar">

                                        <section class="widget">
                                                <div class="support-widget" onclick="document.location='contact';return false;">
                                                        <h3 class="title">Poster</h3>
                                                        <p class="intro">Username: algorism</p>
                                                </div>
                                        </section>

                                        <section class="widget">
                                                <h3 class="title">All Replies for this post</h3>
                                                <ul>
                                                        <li>#4 User:<a href="reply5" title="go to reply4">algorism</a> </li>

                                                </ul>
                                        </section>
                                        <section class="widget">
                                                <h3 class="title">All Same level Comments</h3>
                                                <ul>
                                                        <li>#2 User:<a href="reply2" title="go to reply2">rstanley</a> </li>
                                                        <li>#5 User:<a href="reply5" title="go to reply5">Salem</a> </li>
                                                        <li>#6 User:<a href="reply6" title="go to reply6">algorism</a> </li>

                                                </ul>
                                        </section>
                                        <section>
                                                <dl class="accordion clearfix">
                                                        <a href="#map">
                                                                <dt>View the map of Replies</dt>
                                                        </a>

                                                </dl>
                                        </section>

                                </aside>
                                <!-- end of sidebar -->
                                <div class="span9 page-content">

                                        <ul class="breadcrumb">
                                                <li>Title<a href="single">Strlen is return 1 on empty strings - fgets</a>
                                                        <span class="divider">/</span>
                                                </li>
                                                Reply
                                                <li class="pagemark">1</li><span class="divider">/</span>
                                        </ul>

                                        <article class=" type-post format-standard hentry clearfix">

                                                <h1 class="post-title"><a href="single">Strlen is return 1 on empty strings - fgets</a></h1>
                                                <p class="notice"> <img src="images/arrow-down.png" style="width:15px;height:15px;" /> Reply
                                                        1
                                                </p>

                                                <div class="post-meta clearfix">
                                                        <span class="date">11 May, 2017</span>
                                                        <span class="comments"> 1 replies</span>
                                                        <span class="category">Reply ID:1</span>
                                                        <span class="like-count" id="like1">65</span>
                                                </div>
                                                <!-- end of post meta -->
                                                <h3>Explain </h3>
                                                <blockquote class="discription">

                                                        <p id="explain-area">strtok will not remove the newline (or any of the given separators)
                                                                if there aren't any non-separator characters in the string.
                                                                However, if there are no non-separator characters in the
                                                                string, strtok will return NULL, so you can use that to tell
                                                                if the line is empty. You may as well include other whitespace
                                                                characters in the separator list, and you can even use the
                                                                returned pointer to skip any initial whitespace.<br/> Try
                                                                entering some spaces, 12345, and some more spaces.<br/> Alternatively,
                                                                you could use strcspn like version 2<br/> Or, if you're really
                                                                interested in the string length, then you may as well do
                                                                it in the straightforward way:(version 3)<br/> If you aren't
                                                                really interested in the string length, the the strtok method
                                                                is excellent since it allows you to skip initial and trailing
                                                                space, and with a little extension could be used to detect
                                                                extraneous (presumably erroneous) non-space characters after
                                                                the first word.(version 4)<br/> This considers "one two"
                                                                an error, but " one " is okay (and is interpreted as "one").
                                                                (I meant to add a few spaces before and after "one", but
                                                                the forum reduces them to one space.)
                                                        </p>
                                                </blockquote>

                                                <div class="row-fluid">
                                                        <div class="span7">
                                                                <h3>My code</h3>
                                                                <blockquote class="code">
                                                                        <pre id="codearea1" class="brush: cpp;highlight: [1,19,36,57];">
                                                                                #include &lt;stdio.h>
#include &lt;string.h>
 
int main() {
    char str[100];
 
    while (1) {
        puts("Enter the ID:");
        if (fgets(str, sizeof str, stdin) == NULL)
            break;
        char *p = NULL;
        if ((p = strtok(str, " \t\n")) == NULL)
            continue;
        printf("size of string %d\n", (int)strlen(p));
    }
 
    return 0;
}
//version 2
#include &lt;stdio.h>
#include &lt;string.h>
 
int main() {
    char str[100];
 
    while (1) {
        puts("Enter the ID:");
        if (fgets(str, sizeof str, stdin) == NULL)
            break;
        str[strcspn(str, "\n")] = '\0';
        printf("size of string %d\n", (int)strlen(str));
    }
 
    return 0;
}
//version 3
#include &lt;stdio.h>
#include &lt;string.h>
 
int main() {
    char str[100];
 
    while (1) {
        puts("Enter the ID:");
        if (fgets(str, sizeof str, stdin) == NULL)
            break;
 
        size_t len = strlen(str);
        if (str[len-1] == '\n')
            str[--len] = '\0';
 
        printf("size of string %d\n", (int)len);
    }
 
    return 0;
}
//version 4
#include &lt;stdio.h>
#include &lt;string.h>
 
int main() {
    char str[100];
 
    while (1) {
        puts("Enter the ID:");
        if (fgets(str, sizeof str, stdin) == NULL)
            break;
        char *p = NULL;
        if ((p = strtok(str, " \t\n")) == NULL)
            continue;
        if (strtok(NULL, " \t\n") != NULL) {
            printf("Extraneous characters in input!\n");
            continue;
        }
        printf("size of string %d\n", (int)strlen(p));
    }
 
    return 0;
}</pre>
                                                                </blockquote>
                                                        </div>
                                                        <div class="span5">
                                                                <h3>Last version code</h3>
                                                                <blockquote class="code">
                                                                        <pre id="codearea2" class="brush: cpp">
int size = 0;

do {
   puts(&quot;Insert the ID?&quot;);
   fgets(buffer.idarea, MAX, stdin);
   strtok(buffer.idarea, &quot;\n&quot;); // Consumir o \n 
   printf(&quot;size of string %d\n&quot;, size = strlen(buffer.idarea));
} while (verifica_area_duplicadas(vector, *total, buffer.idarea) == 0);

</pre>
                                                                </blockquote>
                                                        </div>
                                                </div>

                                        </article>

                                        <div class="like-btn">

                                                <form id="like-it-form" action="#" method="post">
                                                        <span class="like-it ">65</span>
                                                        <input type="hidden" name="post_id" value="99">
                                                        <input type="hidden" name="action" value="like_it">
                                                </form>
                                        </div>

                                        <h4 id="map">View the map of Replies <small>(click the node on the picture to change to the post)</small></h4>
                                        <div id="mynetwork"></div>
                                        <p id="selection"></p>
                                        <section id="comments">

                                                <div id="respond">

                                                        <h3>Leave a Reply</h3>

                                                        <div class="cancel-comment-reply">
                                                                <a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Click here to cancel reply.</a>
                                                        </div>


                                                        <form id="contact-form" action="http://inspirythemes.com/templates/knowledgebase-html/contact_form_handler.php" method="post">


                                                                <p class="comment-notes">Your email address will not be published. Required fields
                                                                        are marked <span class="required">*</span></p>

                                                                <div>
                                                                        <label for="author">Name *</label>
                                                                        <input type="text" name="name" id="name" class="required input-xlarge" value="" title="* Please provide your name">
                                                                </div>

                                                                <div>
                                                                        <label for="email">Email *</label>
                                                                        <input type="text" name="email" id="email" class="email required input-xlarge" value="" title="* Please provide a valid email address">
                                                                </div>

                                                                <div>
                                                                        <label for="comment">Comment</label>
                                                                        <textarea name="Comment" id="comment" class="required span7" rows="6" title="* Please enter your comment"></textarea>
                                                                </div>
                                                                <div>
                                                                        <label for="comment">Code</label>
                                                                        <textarea class="span7" name="comment" id="comment" rows="6"></textarea>
                                                                </div>


                                                                <div>
                                                                        <input class="btn btn-inverse" name="submit" type="submit" id="submit" value="Submit Comment">
                                                                        <img src="images/loading.gif" id="contact-loader" alt="Loading...">
                                                                </div>


                                                        </form>

                                                </div>

                                        </section>
                                        <!-- end of comments -->

                                </div>
                                <!-- end of page content -->



                        </div>
                </div>
        </div>
        <!-- End of Page Container -->

        <footer id="footer-wrapper">
                <div id="footer" class="container">
                        <div class="row">

                                <div class="span4">
                                        <section class="widget">
                                                <h3 class="title">Contact us</h3>
                                                <div class="textwidget">
                                                </div>
                                        </section>
                                </div>

                                <div class="span4">
                                        <section class="widget">
                                                <h3 class="title">Categories</h3>
                                                <ul>

                                                </ul>
                                        </section>
                                </div>

                                <div class="span4">
                                        <section class="widget">
                                                <h3 class="title">About</h3>
                                                <div id="twitter_update_list">
                                                        <ul>
                                                                <li>No Tweets loaded !</li>
                                                        </ul>
                                                </div>

                                        </section>
                                </div>

                        </div>
                </div>
                <!-- end of #footer -->


                <!-- Footer Bottom -->
                <div id="footer-bottom-wrapper">
                        <div id="footer-bottom" class="container">
                                <div class="row">
                                        <div class="span6">
                                                <p class="copyright">
                                                        Copyright © 2013. All Rights Reserved by KnowledgeBase.Collect from
                                                        <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                                                </p>
                                        </div>
                                        <div class="span6">
                                                <!-- Social Navigation -->
                                                <ul class="social-nav clearfix">
                                                        <li class="linkedin"><a target="_blank" href="#"></a></li>
                                                        <li class="stumble"><a target="_blank" href="#"></a></li>
                                                        <li class="google"><a target="_blank" href="#"></a></li>
                                                        <li class="deviantart"><a target="_blank" href="#"></a></li>
                                                        <li class="flickr"><a target="_blank" href="#"></a></li>
                                                        <li class="skype"><a target="_blank" href="skype:#?call"></a></li>
                                                        <li class="rss"><a target="_blank" href="#"></a></li>
                                                        <li class="twitter"><a target="_blank" href="#"></a></li>
                                                        <li class="facebook"><a target="_blank" href="#"></a></li>
                                                </ul>
                                        </div>
                                </div>
                        </div>
                </div>
                <!-- End of Footer Bottom -->

        </footer>
        <!-- End of Footer -->

        <a href="#top" id="scroll-top"></a>

        <!-- script -->
        <script type='text/javascript' src='js/jquery-1.8.3.min.js'></script>
        <script type='text/javascript' src='js/jquery.easing.1.3.js'></script>
        <script type='text/javascript' src='js/prettyphoto/jquery.prettyPhoto.js'></script>
        <script type='text/javascript' src='js/jflickrfeed.js'></script>
        <script type='text/javascript' src='js/jquery.liveSearch.js'></script>
        <script type='text/javascript' src='js/jquery.form.js'></script>
        <script type='text/javascript' src='js/jquery.validate.min.js'></script>
        <script type='text/javascript' src='js/custom.js'></script>

</body>

</html>